{% extends 'base_plataforma.html' %}
{% load static %}
{% block 'plataforma' %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="row">
        <div class="col-md-3">
            {% if paciente.sexo == 'M' %}
                <img src="{% static 'plataforma/img/male.png' %}">
            {% else %}
                <img src="{% static 'plataforma/img/female.png' %}">
            {% endif %}
        </div>

        <div class="col-md-3 dados descricao">
            <h4>{{paciente.nome}}</h4>
            <h6>{{paciente.idade}} Anos</h6>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal">
        Adicionar dados
    </button>
    
    <br>
    <br>
    
    {% for dado in dados_paciente %}
        <span>Circunferências</span>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Peso</th>
                <th scope="col">Altura</th>
                <th scope="col">Peitoral</th>
                <th scope="col">Abdômen</th>
                <th scope="col">Cintura</th>
                <th scope="col">Quadril</th>
                
                </tr>
            </thead>
            <tbody>
                
                    {% for dado in dados_paciente %}
                    <tr>
                        <th scope="row">{{dado.peso}}</th>
                        <td>{{dado.altura}}</td>
                        <td>{{dado.peitoral}}</td>
                        <td>{{dado.abdomen}}</td>
                        <td>{{dado.cintura}}</td>
                        <td>{{dado.quadril}}</td>
                        
                        
                    </tr>
                    
                    {% endfor %}
                    
            </tbody>
        </table>

        <span>Resultados</span>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Atual</th>
                <th scope="col">Recomendação</th>
                <th scope="col">Situação</th>
                </tr>
            </thead>
            <tbody>
                
                    
                    <tr>
                        <th scope="row">IMC</th>
                        <td>{{dado.get_imc}}</td>
                        <td>18.50 - 25.00</td>
                        <td>{{dado.imc_situacao}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Peso Ideal</th>
                        <td>{{dado.get_peso_ideal}}</td>
                        <td> - </td>
                        <td> - </td>
                    </tr>

                    <tr>
                        <th scope="row">% Massa Gorda</th>
                        <td>{{dado.get_massa_gorda_percentual}}%</td>
                        <td> 8,0% - 20,0% </td>
                        <td>{{dado.get_massa_gorda_situacao_percentual}}</td>
                    </tr>

                    <tr>
                        <th scope="row">% Massa Magra</th>
                        <td>{{dado.get_massa_magra_percentual}}%</td>
                        <td> 80,0% - 92,0% </td>
                        <td>{{dado.get_massa_magra_situacao_percentual}}</td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Massa Gorda</th>
                        <td>{{dado.get_massa_gorda}} Kg</td>
                        <td>{{dado.get_massa_gorda_inicial}}kg - {{dado.get_massa_gorda_final}}kg</td>
                        <td>{{dado.get_massa_gorda_status}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Massa Magra</th>
                        <td>{{dado.get_massa_magra}} Kg</td>
                        <td>{{dado.get_massa_magra_inicial}}kg - {{dado.get_massa_magra_final}}kg</td>
                        <td>{{dado.get_massa_magra_status}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Soma de Dobras</th>
                        <td>{{dado.get_soma_dobras}} mm</td>
                        <td> - </td>
                        <td> - </td>
                    </tr>

                    <tr>
                        <th scope="row">Razão Cintura / Quadril</th>
                        <td>{{dado.get_razao_cintura_quadril}}</td>
                        <td> - </td>
                        <td>Risco {{dado.get_razao_cintura_quadril_status}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Área Muscular do Braço (AMB)</th>
                        <td>{{dado.get_amb}}</td>
                        <td> - </td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <th scope="row">Área de Gordura do Braço (AGB)</th>
                        <td>{{dado.get_agb}}</td>
                        <td> - </td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <th scope="row">Circunferência Muscular do Braço (CMB)</th>
                        <td>{{dado.get_cmb}}</td>
                        <td> - </td>
                        <td>-</td>
                    </tr>

                   
                    
                    
            </tbody>
        </table>
        <br><br>
    {% endfor %}

    <div style="width: 60%;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        fetch("/grafico_peso/{{paciente.id}}/",{
            method: 'POST',
        }).then(function(result){
            return result.json()
        }).then(function(data_paciente){
            const data = {
                labels: data_paciente['labels'],
                datasets: [{
                label: 'Peso paciente',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: data_paciente['peso'],
            }]
        };

            const config = {
                type: 'line',
                data: data,
                options: {}
        };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        })
        
        </script>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{% url 'dados_paciente' paciente.id %}" method="POST">{% csrf_token %}
                        <h4 class="titulo">Medidas do paciente</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Peso</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="peso" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">Kg</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                    <label for="validationServerUsername">Altura</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="--" name="altura" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                        </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                        <h4 class="titulo">Dobras cultâneas</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Bíceps</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="biceps" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Tríceps</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="triceps" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Axilar Média</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="axilar_media" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Tórax</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="torax" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Abdominal</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="abdominal" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Suprailíaca</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="suprailiaca" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Subescapular</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="subescapular" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Coxa</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="coxa" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Panturrilha Medial</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="panturrilha" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">mm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <br>
                        <br>
                        <h3 class="titulo">Dados de Circunferência</h3>
                        <br>
                        <h4 class="titulo">Dorso</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Peitoral</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="peitoral" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                    <label for="validationServerUsername">Abdômen</label>
                                    <div class="input-group">
                                        <input type="number" step=0.01 class="form-control" placeholder="--" name="abdomen" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                        </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Cintura</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="cintura" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Quadril</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="quadril" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Pescoço</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="pescoco" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <br>
                        <h4 class="titulo">Membros Inferiores</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Coxa Esquerda</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="coxa_e" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Coxa Direita</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="coxa_d" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Panturrilha Esquerda</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="panturrilha_e" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Panturrilha Direita</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="panturrilha_d" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <br>
                        <h4 class="titulo">Membros Superiores</h4>
                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Punho Esquerdo</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="punho_e" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Punho Direito</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="punho_d" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Braço Esquerdo</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="braco_e" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Braço Direito</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="braco_d" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>

                        <div class="form-row">
                            <div class='col-md'>
                                <label for="validationServerUsername">Antebraço Esquerdo</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="antebraco_e" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md'>
                                <label for="validationServerUsername">Antebraço Direito</label>
                                <div class="input-group">
                                    <input type="number" step=0.01 class="form-control" placeholder="--" name="antebraco_d" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend3">cm</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br>
                        <input type="submit" value="Cadastrar" class="btn btn-success">
                
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock%}