{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'plataforma/css/css.css' %}">
{% endblock %}

{% block 'body' %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a href="{% url 'pacientes' %}" class="link-lateral">
                        <div class="card-lateral">
                            <img src="{% static 'plataforma/img/paciente.png' %}">
                            <br>
                            <br>
                            <h4>Cadastrar Paciente</h4>
                        </div>
                    </a>

                    <a href="{% url 'consultar_paciente' %}" class="link-lateral">
                        <div class="card-lateral">
                            <img src="{% static 'plataforma/img/dados_paciente.png' %}">
                            <br>
                            <br>
                            <h4>Consultar Paciente</h4>
                        </div>
                    </a>

                    <a href="#" class="link-lateral">
                        <div class="card-lateral">
                            <img src="{% static 'plataforma/img/plano_alimentar.png' %}">
                            <br>
                            <br>
                            <h4>Plano alimentar</h4>
                        </div>
                    </a>
                </div>
            <div class="col-md-8">
                {% block 'plataforma' %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock%}